.section_a{
    height: 100%;
}

.section_a .square{
    border-radius: 20px;
    width: 100px;
    height: 100px;
    background-color: white;
    margin-top: 100px;
    margin-left: 300px;
    margin-bottom: 100px;
}